.file-type,
.file-thumb,
.file-small,
.file-icon48 {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.file-type {
  width: 32px;
  height: 32px;
  background-image: url(../images/file_type/other/unknown.svg?v=6.2);
}

.tp-error {
  background-image: url(../images/file_type/other/error.svg?v=6.2);
}

.multi-files {
  background-image: url(../images/file_type/other/multi_files.svg?v=6.2);
}

.tp-folder img {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 22px;
  height: 21px;
}

.photo-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 1px;
  border: 1px solid #CCC;
  background: #FFF;
  *display: inline;
  *zoom: 1;
}
.photo-icon i {
  display: block;
  overflow: hidden;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 0;
}
.photo-icon s {
  display: inline-block;
  height: 28px;
  vertical-align: middle;
}
.photo-icon img {
  max-width: 28px;
  max-height: 28px;
  vertical-align: middle;
}

.file-thumb {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  background-image: url(../images/file_thumb/other/unknown.svg?v=6.2);
}

.tb-error {
  background-image: url(../images/file_thumb/other/error.svg?v=6.2);
}

.tb-multi-files {
  background-image: url(../images/file_thumb/other/multi_files.svg?v=6.2);
}

.tb-cover {
  background-image: url(../images/file_thumb/folder/folder_cover.svg?v=6.2);
}
.tb-cover i {
  position: absolute;
  top: 23px;
  left: 10px;
  overflow: hidden;
  width: 80px;
  height: 60px;
}
.tb-cover i img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80px;
  min-height: 60px;
}

@supports (object-fit: cover) {
  .tb-cover i img {
    width: 80px;
    height: 60px;
    object-fit: cover;
  }
}
.tb-folder img {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 70px;
  height: 70px;
}

.photo-box {
  width: 100px;
  height: 100px;
  margin: auto;
  background: none;
}

.img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 0;
}
.img-wrap:after {
  content: "";
  display: inline-block;
  height: 100px;
  vertical-align: bottom;
}

.img-pos {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 98px;
  max-height: 98px;
  vertical-align: bottom;
  border: 1px solid #cfcfcf;
  *display: inline;
  *zoom: 1;
}
.img-pos img {
  display: block;
  max-width: 98px;
}

.video-quality {
  display: none;
}

.file-small {
  width: 16px;
  height: 16px;
  background-image: url(../images/file_small/other/unknown.svg?v=6.2);
}

.file-icon48 {
  width: 48px;
  height: 48px;
  background-image: url(../images/file_icon_48/other/unknown.svg?v=6.2);
}

.ti48-multi-files {
  background-image: url(../images/file_icon_48/other/multi_files.svg?v=6.2);
}

.tp-bat {
  background-image: url(../images/file_type/application/bat.svg?v=6.2);
}

.tp-exe {
  background-image: url(../images/file_type/application/exe.svg?v=6.2);
}

.tp-ipa {
  background-image: url(../images/file_type/application/ipa.svg?v=6.2);
}

.tp-apk {
  background-image: url(../images/file_type/application/apk.svg?v=6.2);
}

.tp-msi {
  background-image: url(../images/file_type/application/msi.svg?v=6.2);
}

.tp-dmg {
  background-image: url(../images/file_type/archive/dmg.svg?v=6.2);
}

.tp-iso {
  background-image: url(../images/file_type/archive/iso.svg?v=6.2);
}

.tp-zip {
  background-image: url(../images/file_type/archive/zip.svg?v=6.2);
}

.tp-7z {
  background-image: url(../images/file_type/archive/7z.svg?v=6.2);
}

.tp-cab {
  background-image: url(../images/file_type/archive/cab.svg?v=6.2);
}

.tp-rar, .tp-tar {
  background-image: url(../images/file_type/archive/rar.svg?v=6.2);
}

.tp-css, .tp-sass, .tp-scss, .tp-less {
  background-image: url(../images/file_type/code/css.svg?v=6.2);
}

.tp-htm, .tp-html {
  background-image: url(../images/file_type/code/html.svg?v=6.2);
}

.tp-c, .tp-cpp, .tp-asp, .tp-js, .tp-php, .tp-tpl, .tp-xml, .tp-h, .tp-cs, .tp-plist, .tp-py, .tp-rb {
  background-image: url(../images/file_type/code/code.svg?v=6.2);
}

.tp-chm {
  background-image: url(../images/file_type/document/chm.svg?v=6.2);
}

.tp-pdf {
  background-image: url(../images/file_type/document/pdf.svg?v=6.2);
}

.tp-txt {
  background-image: url(../images/file_type/document/txt.svg?v=6.2);
}

.tp-log {
  background-image: url(../images/file_type/document/log.svg?v=6.2);
}

.tp-torrent {
  background-image: url(../images/file_type/document/torrent.svg?v=6.2);
}

.tp-pages {
  background-image: url(../images/file_type/document/pages.svg?v=6.2);
}

.tp-key {
  background-image: url(../images/file_type/document/key.svg?v=6.2);
}

.tp-numbers {
  background-image: url(../images/file_type/document/numbers.svg?v=6.2);
}

.tp-ass {
  background-image: url(../images/file_type/document/ass.svg?v=6.2);
}

.tp-srt {
  background-image: url(../images/file_type/document/srt.svg?v=6.2);
}

.tp-ssa {
  background-image: url(../images/file_type/document/ssa.svg?v=6.2);
}

.tp-doc, .tp-docx, .tp-docm, .tp-dot, .tp-dotx, .tp-dotm {
  background-image: url(../images/file_type/document/doc.svg?v=6.2);
}

.tp-ppt, .tp-pptx, .tp-pptm {
  background-image: url(../images/file_type/document/ppt.svg?v=6.2);
}

.tp-xls, .tp-xlsx, .tp-xlsm, .tp-xltx, .tp-xltm, .tp-xlam, .tp-xlsb {
  background-image: url(../images/file_type/document/xls.svg?v=6.2);
}

.tp-png {
  background-image: url(../images/file_type/image/png.svg?v=6.2);
}

.tp-gif {
  background-image: url(../images/file_type/image/gif.svg?v=6.2);
}

.tp-raw {
  background-image: url(../images/file_type/image/raw.svg?v=6.2);
}

.tp-jpg, .tp-jpeg {
  background-image: url(../images/file_type/image/jpeg.svg?v=6.2);
}

.tp-bmp, .tp-tiff, .tp-exif {
  background-image: url(../images/file_type/image/img.svg?v=6.2);
}

.tp-mp3 {
  background-image: url(../images/file_type/audio/mp3.svg?v=6.2);
}

.tp-wma {
  background-image: url(../images/file_type/audio/wma.svg?v=6.2);
}

.tp-ape {
  background-image: url(../images/file_type/audio/ape.svg?v=6.2);
}

.tp-wav, .tp-midi, .tp-mid, .tp-flac, .tp-aac, .tp-m4a, .tp-ogg {
  background-image: url(../images/file_type/audio/music.svg?v=6.2);
}

.tp-ai {
  background-image: url(../images/file_type/source/ai.svg?v=6.2);
}

.tp-psd {
  background-image: url(../images/file_type/source/psd.svg?v=6.2);
}

.tp-fla {
  background-image: url(../images/file_type/source/fla.svg?v=6.2);
}

.tp-avi {
  background-image: url(../images/file_type/video/avi.svg?v=6.2);
}

.tp-mov {
  background-image: url(../images/file_type/video/mov.svg?v=6.2);
}

.tp-rm {
  background-image: url(../images/file_type/video/rm.svg?v=6.2);
}

.tp-rmvb {
  background-image: url(../images/file_type/video/rmvb.svg?v=6.2);
}

.tp-wmv {
  background-image: url(../images/file_type/video/wmv.svg?v=6.2);
}

.tp-mkv {
  background-image: url(../images/file_type/video/mkv.svg?v=6.2);
}

.tp-flv {
  background-image: url(../images/file_type/video/flv.svg?v=6.2);
}

.tp-swf {
  background-image: url(../images/file_type/video/swf.svg?v=6.2);
}

.tp-3g2, .tp-3gp, .tp-3gp2, .tp-3gpp {
  background-image: url(../images/file_type/video/3gp.svg?v=6.2);
}

.tp-mp4, .tp-mpeg4 {
  background-image: url(../images/file_type/video/mp4.svg?v=6.2);
}

.tp-mpe, .tp-mpeg, .tp-mpg, .tp-asf, .tp-ram, .tp-m4v, .tp-vob, .tp-divx, .tp-webm {
  background-image: url(../images/file_type/video/video.svg?v=6.2);
}

.tp-folder {
  background-image: url(../images/file_type/folder/folder.svg?v=6.2);
}

.tp-folder-group {
  background-image: url(../images/file_type/folder/folder_group.svg?v=6.2);
}

.tp-folder-person {
  background-image: url(../images/file_type/folder/folder_person.svg?v=6.2);
}

.tp-folder-lock {
  background-image: url(../images/file_type/folder/folder_lock.svg?v=6.2);
}

.tp-folder-backup {
  background-image: url(../images/file_type/folder/folder_backup.svg?v=6.2);
}

.tp-folder-offline {
  background-image: url(../images/file_type/folder/folder_offline.svg?v=6.2);
}

.tp-folder-receive {
  background-image: url(../images/file_type/folder/folder_receive.svg?v=6.2);
}

.tp-folder-photo {
  background-image: url(../images/file_type/folder/folder_photo.svg?v=6.2);
}

.tp-folder-share {
  background-image: url(../images/file_type/folder/folder_share.svg?v=6.2);
}

.tp-folder-share-group {
  background-image: url(../images/file_type/folder/folder_share_group.svg?v=6.2);
}

.tp-folder-share-person {
  background-image: url(../images/file_type/folder/folder_share_person.svg?v=6.2);
}

.tp-folder-invisible {
  background-image: url(../images/file_type/folder/folder_invisible.svg?v=6.2);
}

.tp-video-sd {
  background-image: url(../images/file_type/video_quality/sd.svg?v=6.2);
}

.tp-video-hd {
  background-image: url(../images/file_type/video_quality/hd.svg?v=6.2);
}

.tp-video-fhd {
  background-image: url(../images/file_type/video_quality/fhd.svg?v=6.2);
}

.tp-video-1080p {
  background-image: url(../images/file_type/video_quality/1080p.svg?v=6.2);
}

.tp-video-4k {
  background-image: url(../images/file_type/video_quality/4k.svg?v=6.2);
}

.tp-video-origin {
  background-image: url(../images/file_type/video_quality/origin.svg?v=6.2);
}

.tb-bat {
  background-image: url(../images/file_thumb/application/bat.svg?v=6.2);
}

.tb-exe {
  background-image: url(../images/file_thumb/application/exe.svg?v=6.2);
}

.tb-ipa {
  background-image: url(../images/file_thumb/application/ipa.svg?v=6.2);
}

.tb-apk {
  background-image: url(../images/file_thumb/application/apk.svg?v=6.2);
}

.tb-msi {
  background-image: url(../images/file_thumb/application/msi.svg?v=6.2);
}

.tb-dmg {
  background-image: url(../images/file_thumb/archive/dmg.svg?v=6.2);
}

.tb-iso {
  background-image: url(../images/file_thumb/archive/iso.svg?v=6.2);
}

.tb-zip {
  background-image: url(../images/file_thumb/archive/zip.svg?v=6.2);
}

.tb-7z {
  background-image: url(../images/file_thumb/archive/7z.svg?v=6.2);
}

.tb-cab {
  background-image: url(../images/file_thumb/archive/cab.svg?v=6.2);
}

.tb-rar, .tb-tar {
  background-image: url(../images/file_thumb/archive/rar.svg?v=6.2);
}

.tb-css, .tb-sass, .tb-scss, .tb-less {
  background-image: url(../images/file_thumb/code/css.svg?v=6.2);
}

.tb-htm, .tb-html {
  background-image: url(../images/file_thumb/code/html.svg?v=6.2);
}

.tb-c, .tb-cpp, .tb-asp, .tb-js, .tb-php, .tb-tpl, .tb-xml, .tb-h, .tb-cs, .tb-plist, .tb-py, .tb-rb {
  background-image: url(../images/file_thumb/code/code.svg?v=6.2);
}

.tb-chm {
  background-image: url(../images/file_thumb/document/chm.svg?v=6.2);
}

.tb-pdf {
  background-image: url(../images/file_thumb/document/pdf.svg?v=6.2);
}

.tb-txt {
  background-image: url(../images/file_thumb/document/txt.svg?v=6.2);
}

.tb-log {
  background-image: url(../images/file_thumb/document/log.svg?v=6.2);
}

.tb-torrent {
  background-image: url(../images/file_thumb/document/torrent.svg?v=6.2);
}

.tb-pages {
  background-image: url(../images/file_thumb/document/pages.svg?v=6.2);
}

.tb-key {
  background-image: url(../images/file_thumb/document/key.svg?v=6.2);
}

.tb-numbers {
  background-image: url(../images/file_thumb/document/numbers.svg?v=6.2);
}

.tb-ass {
  background-image: url(../images/file_thumb/document/ass.svg?v=6.2);
}

.tb-srt {
  background-image: url(../images/file_thumb/document/srt.svg?v=6.2);
}

.tb-ssa {
  background-image: url(../images/file_thumb/document/ssa.svg?v=6.2);
}

.tb-doc, .tb-docx, .tb-docm, .tb-dot, .tb-dotx, .tb-dotm {
  background-image: url(../images/file_thumb/document/doc.svg?v=6.2);
}

.tb-ppt, .tb-pptx, .tb-pptm {
  background-image: url(../images/file_thumb/document/ppt.svg?v=6.2);
}

.tb-xls, .tb-xlsx, .tb-xlsm, .tb-xltx, .tb-xltm, .tb-xlam, .tb-xlsb {
  background-image: url(../images/file_thumb/document/xls.svg?v=6.2);
}

.tb-png {
  background-image: url(../images/file_thumb/image/png.svg?v=6.2);
}

.tb-gif {
  background-image: url(../images/file_thumb/image/gif.svg?v=6.2);
}

.tb-raw {
  background-image: url(../images/file_thumb/image/raw.svg?v=6.2);
}

.tb-jpg, .tb-jpeg {
  background-image: url(../images/file_thumb/image/jpeg.svg?v=6.2);
}

.tb-bmp, .tb-tiff, .tb-exif {
  background-image: url(../images/file_thumb/image/img.svg?v=6.2);
}

.tb-mp3 {
  background-image: url(../images/file_thumb/audio/mp3.svg?v=6.2);
}

.tb-wma {
  background-image: url(../images/file_thumb/audio/wma.svg?v=6.2);
}

.tb-ape {
  background-image: url(../images/file_thumb/audio/ape.svg?v=6.2);
}

.tb-wav, .tb-midi, .tb-mid, .tb-flac, .tb-aac, .tb-m4a, .tb-ogg {
  background-image: url(../images/file_thumb/audio/music.svg?v=6.2);
}

.tb-ai {
  background-image: url(../images/file_thumb/source/ai.svg?v=6.2);
}

.tb-psd {
  background-image: url(../images/file_thumb/source/psd.svg?v=6.2);
}

.tb-fla {
  background-image: url(../images/file_thumb/source/fla.svg?v=6.2);
}

.tb-avi {
  background-image: url(../images/file_thumb/video/avi.svg?v=6.2);
}

.tb-mov {
  background-image: url(../images/file_thumb/video/mov.svg?v=6.2);
}

.tb-rm {
  background-image: url(../images/file_thumb/video/rm.svg?v=6.2);
}

.tb-rmvb {
  background-image: url(../images/file_thumb/video/rmvb.svg?v=6.2);
}

.tb-wmv {
  background-image: url(../images/file_thumb/video/wmv.svg?v=6.2);
}

.tb-mkv {
  background-image: url(../images/file_thumb/video/mkv.svg?v=6.2);
}

.tb-flv {
  background-image: url(../images/file_thumb/video/flv.svg?v=6.2);
}

.tb-swf {
  background-image: url(../images/file_thumb/video/swf.svg?v=6.2);
}

.tb-3g2, .tb-3gp, .tb-3gp2, .tb-3gpp {
  background-image: url(../images/file_thumb/video/3gp.svg?v=6.2);
}

.tb-mp4, .tb-mpeg4 {
  background-image: url(../images/file_thumb/video/mp4.svg?v=6.2);
}

.tb-mpe, .tb-mpeg, .tb-mpg, .tb-asf, .tb-ram, .tb-m4v, .tb-vob, .tb-divx, .tb-webm {
  background-image: url(../images/file_thumb/video/video.svg?v=6.2);
}

.tb-folder {
  background-image: url(../images/file_thumb/folder/folder.svg?v=6.2);
}

.tb-folder-group {
  background-image: url(../images/file_thumb/folder/folder_group.svg?v=6.2);
}

.tb-folder-person {
  background-image: url(../images/file_thumb/folder/folder_person.svg?v=6.2);
}

.tb-folder-lock {
  background-image: url(../images/file_thumb/folder/folder_lock.svg?v=6.2);
}

.tb-folder-backup {
  background-image: url(../images/file_thumb/folder/folder_backup.svg?v=6.2);
}

.tb-folder-offline {
  background-image: url(../images/file_thumb/folder/folder_offline.svg?v=6.2);
}

.tb-folder-receive {
  background-image: url(../images/file_thumb/folder/folder_receive.svg?v=6.2);
}

.tb-folder-photo {
  background-image: url(../images/file_thumb/folder/folder_photo.svg?v=6.2);
}

.tb-folder-share {
  background-image: url(../images/file_thumb/folder/folder_share.svg?v=6.2);
}

.tb-folder-share-group {
  background-image: url(../images/file_thumb/folder/folder_share_group.svg?v=6.2);
}

.tb-folder-share-person {
  background-image: url(../images/file_thumb/folder/folder_share_person.svg?v=6.2);
}

.tb-folder-invisible {
  background-image: url(../images/file_thumb/folder/folder_invisible.svg?v=6.2);
}

.tb-video-sd {
  background-image: url(../images/file_thumb/video_quality/sd.svg?v=6.2);
}

.tb-video-hd {
  background-image: url(../images/file_thumb/video_quality/hd.svg?v=6.2);
}

.tb-video-fhd {
  background-image: url(../images/file_thumb/video_quality/fhd.svg?v=6.2);
}

.tb-video-1080p {
  background-image: url(../images/file_thumb/video_quality/1080p.svg?v=6.2);
}

.tb-video-4k {
  background-image: url(../images/file_thumb/video_quality/4k.svg?v=6.2);
}

.tb-video-origin {
  background-image: url(../images/file_thumb/video_quality/origin.svg?v=6.2);
}

.ts-bat {
  background-image: url(../images/file_small/application/bat.svg?v=6.2);
}

.ts-exe {
  background-image: url(../images/file_small/application/exe.svg?v=6.2);
}

.ts-ipa {
  background-image: url(../images/file_small/application/ipa.svg?v=6.2);
}

.ts-apk {
  background-image: url(../images/file_small/application/apk.svg?v=6.2);
}

.ts-msi {
  background-image: url(../images/file_small/application/msi.svg?v=6.2);
}

.ts-dmg {
  background-image: url(../images/file_small/archive/dmg.svg?v=6.2);
}

.ts-iso {
  background-image: url(../images/file_small/archive/iso.svg?v=6.2);
}

.ts-zip {
  background-image: url(../images/file_small/archive/zip.svg?v=6.2);
}

.ts-7z {
  background-image: url(../images/file_small/archive/7z.svg?v=6.2);
}

.ts-cab {
  background-image: url(../images/file_small/archive/cab.svg?v=6.2);
}

.ts-rar, .ts-tar {
  background-image: url(../images/file_small/archive/rar.svg?v=6.2);
}

.ts-css, .ts-sass, .ts-scss, .ts-less {
  background-image: url(../images/file_small/code/css.svg?v=6.2);
}

.ts-htm, .ts-html {
  background-image: url(../images/file_small/code/html.svg?v=6.2);
}

.ts-c, .ts-cpp, .ts-asp, .ts-js, .ts-php, .ts-tpl, .ts-xml, .ts-h, .ts-cs, .ts-plist, .ts-py, .ts-rb {
  background-image: url(../images/file_small/code/code.svg?v=6.2);
}

.ts-chm {
  background-image: url(../images/file_small/document/chm.svg?v=6.2);
}

.ts-pdf {
  background-image: url(../images/file_small/document/pdf.svg?v=6.2);
}

.ts-txt {
  background-image: url(../images/file_small/document/txt.svg?v=6.2);
}

.ts-log {
  background-image: url(../images/file_small/document/log.svg?v=6.2);
}

.ts-torrent {
  background-image: url(../images/file_small/document/torrent.svg?v=6.2);
}

.ts-pages {
  background-image: url(../images/file_small/document/pages.svg?v=6.2);
}

.ts-key {
  background-image: url(../images/file_small/document/key.svg?v=6.2);
}

.ts-numbers {
  background-image: url(../images/file_small/document/numbers.svg?v=6.2);
}

.ts-ass {
  background-image: url(../images/file_small/document/ass.svg?v=6.2);
}

.ts-srt {
  background-image: url(../images/file_small/document/srt.svg?v=6.2);
}

.ts-ssa {
  background-image: url(../images/file_small/document/ssa.svg?v=6.2);
}

.ts-doc, .ts-docx, .ts-docm, .ts-dot, .ts-dotx, .ts-dotm {
  background-image: url(../images/file_small/document/doc.svg?v=6.2);
}

.ts-ppt, .ts-pptx, .ts-pptm {
  background-image: url(../images/file_small/document/ppt.svg?v=6.2);
}

.ts-xls, .ts-xlsx, .ts-xlsm, .ts-xltx, .ts-xltm, .ts-xlam, .ts-xlsb {
  background-image: url(../images/file_small/document/xls.svg?v=6.2);
}

.ts-png {
  background-image: url(../images/file_small/image/png.svg?v=6.2);
}

.ts-gif {
  background-image: url(../images/file_small/image/gif.svg?v=6.2);
}

.ts-raw {
  background-image: url(../images/file_small/image/raw.svg?v=6.2);
}

.ts-jpg, .ts-jpeg {
  background-image: url(../images/file_small/image/jpeg.svg?v=6.2);
}

.ts-bmp, .ts-tiff, .ts-exif {
  background-image: url(../images/file_small/image/img.svg?v=6.2);
}

.ts-mp3 {
  background-image: url(../images/file_small/audio/mp3.svg?v=6.2);
}

.ts-wma {
  background-image: url(../images/file_small/audio/wma.svg?v=6.2);
}

.ts-ape {
  background-image: url(../images/file_small/audio/ape.svg?v=6.2);
}

.ts-wav, .ts-midi, .ts-mid, .ts-flac, .ts-aac, .ts-m4a, .ts-ogg {
  background-image: url(../images/file_small/audio/music.svg?v=6.2);
}

.ts-ai {
  background-image: url(../images/file_small/source/ai.svg?v=6.2);
}

.ts-psd {
  background-image: url(../images/file_small/source/psd.svg?v=6.2);
}

.ts-fla {
  background-image: url(../images/file_small/source/fla.svg?v=6.2);
}

.ts-avi {
  background-image: url(../images/file_small/video/avi.svg?v=6.2);
}

.ts-mov {
  background-image: url(../images/file_small/video/mov.svg?v=6.2);
}

.ts-rm {
  background-image: url(../images/file_small/video/rm.svg?v=6.2);
}

.ts-rmvb {
  background-image: url(../images/file_small/video/rmvb.svg?v=6.2);
}

.ts-wmv {
  background-image: url(../images/file_small/video/wmv.svg?v=6.2);
}

.ts-mkv {
  background-image: url(../images/file_small/video/mkv.svg?v=6.2);
}

.ts-flv {
  background-image: url(../images/file_small/video/flv.svg?v=6.2);
}

.ts-swf {
  background-image: url(../images/file_small/video/swf.svg?v=6.2);
}

.ts-3g2, .ts-3gp, .ts-3gp2, .ts-3gpp {
  background-image: url(../images/file_small/video/3gp.svg?v=6.2);
}

.ts-mp4, .ts-mpeg4 {
  background-image: url(../images/file_small/video/mp4.svg?v=6.2);
}

.ts-mpe, .ts-mpeg, .ts-mpg, .ts-asf, .ts-ram, .ts-m4v, .ts-vob, .ts-divx, .ts-webm {
  background-image: url(../images/file_small/video/video.svg?v=6.2);
}

.ts-folder {
  background-image: url(../images/file_small/folder/folder.svg?v=6.2);
}

.ti48-bat {
  background-image: url(../images/file_icon_48/application/bat.svg?v=6.2);
}

.ti48-exe {
  background-image: url(../images/file_icon_48/application/exe.svg?v=6.2);
}

.ti48-ipa {
  background-image: url(../images/file_icon_48/application/ipa.svg?v=6.2);
}

.ti48-apk {
  background-image: url(../images/file_icon_48/application/apk.svg?v=6.2);
}

.ti48-msi {
  background-image: url(../images/file_icon_48/application/msi.svg?v=6.2);
}

.ti48-dmg {
  background-image: url(../images/file_icon_48/archive/dmg.svg?v=6.2);
}

.ti48-iso {
  background-image: url(../images/file_icon_48/archive/iso.svg?v=6.2);
}

.ti48-zip {
  background-image: url(../images/file_icon_48/archive/zip.svg?v=6.2);
}

.ti48-7z {
  background-image: url(../images/file_icon_48/archive/7z.svg?v=6.2);
}

.ti48-cab {
  background-image: url(../images/file_icon_48/archive/cab.svg?v=6.2);
}

.ti48-rar, .ti48-tar {
  background-image: url(../images/file_icon_48/archive/rar.svg?v=6.2);
}

.ti48-css, .ti48-sass, .ti48-scss, .ti48-less {
  background-image: url(../images/file_icon_48/code/css.svg?v=6.2);
}

.ti48-htm, .ti48-html {
  background-image: url(../images/file_icon_48/code/html.svg?v=6.2);
}

.ti48-c, .ti48-cpp, .ti48-asp, .ti48-js, .ti48-php, .ti48-tpl, .ti48-xml, .ti48-h, .ti48-cs, .ti48-plist, .ti48-py, .ti48-rb {
  background-image: url(../images/file_icon_48/code/code.svg?v=6.2);
}

.ti48-chm {
  background-image: url(../images/file_icon_48/document/chm.svg?v=6.2);
}

.ti48-pdf {
  background-image: url(../images/file_icon_48/document/pdf.svg?v=6.2);
}

.ti48-txt {
  background-image: url(../images/file_icon_48/document/txt.svg?v=6.2);
}

.ti48-log {
  background-image: url(../images/file_icon_48/document/log.svg?v=6.2);
}

.ti48-torrent {
  background-image: url(../images/file_icon_48/document/torrent.svg?v=6.2);
}

.ti48-pages {
  background-image: url(../images/file_icon_48/document/pages.svg?v=6.2);
}

.ti48-key {
  background-image: url(../images/file_icon_48/document/key.svg?v=6.2);
}

.ti48-numbers {
  background-image: url(../images/file_icon_48/document/numbers.svg?v=6.2);
}

.ti48-ass {
  background-image: url(../images/file_icon_48/document/ass.svg?v=6.2);
}

.ti48-srt {
  background-image: url(../images/file_icon_48/document/srt.svg?v=6.2);
}

.ti48-ssa {
  background-image: url(../images/file_icon_48/document/ssa.svg?v=6.2);
}

.ti48-doc, .ti48-docx, .ti48-docm, .ti48-dot, .ti48-dotx, .ti48-dotm {
  background-image: url(../images/file_icon_48/document/doc.svg?v=6.2);
}

.ti48-ppt, .ti48-pptx, .ti48-pptm {
  background-image: url(../images/file_icon_48/document/ppt.svg?v=6.2);
}

.ti48-xls, .ti48-xlsx, .ti48-xlsm, .ti48-xltx, .ti48-xltm, .ti48-xlam, .ti48-xlsb {
  background-image: url(../images/file_icon_48/document/xls.svg?v=6.2);
}

.ti48-png {
  background-image: url(../images/file_icon_48/image/png.svg?v=6.2);
}

.ti48-gif {
  background-image: url(../images/file_icon_48/image/gif.svg?v=6.2);
}

.ti48-raw {
  background-image: url(../images/file_icon_48/image/raw.svg?v=6.2);
}

.ti48-jpg, .ti48-jpeg {
  background-image: url(../images/file_icon_48/image/jpeg.svg?v=6.2);
}

.ti48-bmp, .ti48-tiff, .ti48-exif {
  background-image: url(../images/file_icon_48/image/img.svg?v=6.2);
}

.ti48-mp3 {
  background-image: url(../images/file_icon_48/audio/mp3.svg?v=6.2);
}

.ti48-wma {
  background-image: url(../images/file_icon_48/audio/wma.svg?v=6.2);
}

.ti48-ape {
  background-image: url(../images/file_icon_48/audio/ape.svg?v=6.2);
}

.ti48-wav, .ti48-midi, .ti48-mid, .ti48-flac, .ti48-aac, .ti48-m4a, .ti48-ogg {
  background-image: url(../images/file_icon_48/audio/music.svg?v=6.2);
}

.ti48-ai {
  background-image: url(../images/file_icon_48/source/ai.svg?v=6.2);
}

.ti48-psd {
  background-image: url(../images/file_icon_48/source/psd.svg?v=6.2);
}

.ti48-fla {
  background-image: url(../images/file_icon_48/source/fla.svg?v=6.2);
}

.ti48-avi {
  background-image: url(../images/file_icon_48/video/avi.svg?v=6.2);
}

.ti48-mov {
  background-image: url(../images/file_icon_48/video/mov.svg?v=6.2);
}

.ti48-rm {
  background-image: url(../images/file_icon_48/video/rm.svg?v=6.2);
}

.ti48-rmvb {
  background-image: url(../images/file_icon_48/video/rmvb.svg?v=6.2);
}

.ti48-wmv {
  background-image: url(../images/file_icon_48/video/wmv.svg?v=6.2);
}

.ti48-mkv {
  background-image: url(../images/file_icon_48/video/mkv.svg?v=6.2);
}

.ti48-flv {
  background-image: url(../images/file_icon_48/video/flv.svg?v=6.2);
}

.ti48-swf {
  background-image: url(../images/file_icon_48/video/swf.svg?v=6.2);
}

.ti48-3g2, .ti48-3gp, .ti48-3gp2, .ti48-3gpp {
  background-image: url(../images/file_icon_48/video/3gp.svg?v=6.2);
}

.ti48-mp4, .ti48-mpeg4 {
  background-image: url(../images/file_icon_48/video/mp4.svg?v=6.2);
}

.ti48-mpe, .ti48-mpeg, .ti48-mpg, .ti48-asf, .ti48-ram, .ti48-m4v, .ti48-vob, .ti48-divx, .ti48-webm {
  background-image: url(../images/file_icon_48/video/video.svg?v=6.2);
}

.ti48-folder {
  background-image: url(../images/file_icon_48/folder/folder.svg?v=6.2);
}
